
<div class="navbar">
    <div class="d-flex">

        <!-- LOGO -->
        {{ include('partials/header/logo.html.twig') }}

        <!-- SEARCH-->
        {{ include('partials/header/search.html.twig') }}

    </div>

    <div class="d-flex">

        <!-- PROFILE-NAV-->
        {{ include('partials/header/nav_profile.html.twig') }}

        <!-- NOTIFICATIONS-->
        {{ include('partials/header/notifications.html.twig') }}

        <!-- SETTINGS -->
        {{ include('partials/header/settings.html.twig') }}

    </div>
</div>