<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Artist Database{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('artistdatabase') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('artistdatabase') }}
        {% endblock %}
    </head>

    <body>
        <header>
            <div class="nav main"> {{ knp_menu_render('navMain') }} </div>
            <div class="nav profile"> {{ knp_menu_render('navProfile') }} </div>
        </header>

        <aside class="nav sidebar"> {{ knp_menu_render('navSidebar') }} </aside>

        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>

</html>
